@page
@model RazorPagePractical.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees";
}

<style>
    .btn{
        width: 75px;
    }
</style>

<h1>Employees Page</h1>
<div class="card-deck">
    @foreach(var employee in Model.Employees)
    {
        var photoPath = "~/images/" + (employee.PhotoPath ?? "MaleEmp1.png");
    <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
        <!--Card header-->
        <div class="card-header">
            <h3>@employee.Name</h3>
        </div>

        <!--Card body-->
        <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />

        <!--Card footer-->
        <div class="card-footer text-center">
            <a asp-page="/Employees/Details" asp-route-ID="@employee.Id" class="btn btn-primary m-1">View</a>
            <a href="#" class="btn btn-primary m-1">Edit</a>
            <a href="#" class="btn btn-danger m-1">Delete</a>
        </div>
    </div>
    }

</div>

